---
import Layout from '../layouts/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import {getCollection} from 'astro:content';

const events = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<Layout title="Alex Gusev | AI-Powered Web Applications & Messenger Bots">
    <section class="hero bg-gradient">
        <div class="hero-content">
            <h1>Welcome to My Personal Website</h1>
            <p>
                Specializing in innovative web applications integrating
                <strong>AI agents</strong> and <strong>messengers</strong> like Telegram and ChatGPT.
            </p>
        </div>
    </section>
    <section class="intro bg-gradient">
        <p>
            I am <a href="/about/">Alex Gusev</a>, a web developer focusing on integrating AI agents with messaging platforms. Working
            independently, I’ve developed the Tequila Framework (TeqFW), a set of tools embodying my unique approach to
            web development.
        </p>
        <h3>My Focus</h3>
        <ul>
            <li><strong>AI and Messenger Integration:</strong> Creating seamless interactions between AI agents and
                platforms like Telegram.
            </li>
            <li><strong>Tequila Framework:</strong> Using my custom toolkit to build adaptive and modular solutions.
            </li>
        </ul>
        <p>
            Explore my work, learn about my development principles, and see real-world applications where I combine AI
            and messengers to solve practical problems. I welcome feedback on my approach and invite those interested in
            similar projects to connect.
        </p>
    </section>
    <section>
        <h2>Recent Events</h2>
        <ul style="list-style-type: none; padding: 0;">
            {events.slice(0, 5).map((event) => (
                    <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                        <a href={`/events/${event.slug}/`}
                           style="display: flex; text-decoration: none; color: inherit;">
                            {event.data.image && (
                                    <img
                                            src={event.data.image}
                                            alt={event.data.title}
                                            style={{
                                                width: '100px',
                                                height: '100px',
                                                marginRight: '15px',
                                                flexShrink: 0,
                                                borderRadius: '50%',
                                                objectFit: 'cover'
                                            }}
                                    />
                            )}
                        </a>
                        <div>
                            <a href={`/events/${event.slug}/`} style="text-decoration: none; color: inherit;">
                                <h4 class="title" style="margin: 0;">
                                    {event.data.title}
                                </h4>
                            </a>
                            <p style="margin: 0; font-size: 0.9em; color: gray;">
                                <FormattedDate date={event.data.pubDate}/>
                            </p>
                        </div>
                    </li>
            ))}
        </ul>
    </section>
</Layout>

<style>
    /* Hero Section */
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px 20px;
        border-radius: 10px;
    }

    .hero h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #66BB6A;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    /* Content Sections */
    .intro {
        padding: 50px 20px;
        color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        margin: 40px auto;
        max-width: 800px;
        transition: all 0.3s ease;
    }

    .intro:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }

    .intro h2, .intro h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .intro ul {
        margin: 20px 0;
        padding-left: 20px;
        list-style: disc;
        font-size: 1.1rem;
    }

    .intro li {
        margin-bottom: 10px;
    }

    /* Navigation */
    nav {
        background: #121212;
        padding: 15px 20px;
        border-bottom: 2px solid #81C784;
    }

    nav a {
        color: #A5D6A7;
        text-decoration: none;
        font-weight: bold;
        margin: 0 15px;
        transition: color 0.3s ease-in-out;
    }

    nav a:hover {
        color: #66BB6A;
    }

    /* Responsive Adjustments */
    @media (max-width: 768px) {
        .hero h1 {
            font-size: 1.5rem;
        }

        .hero p {
            font-size: 1rem;
        }

        .intro {
            padding: 30px 15px;
        }
    }

</style>
