---
import {getCollection} from 'astro:content';

// Fetch all posts
const posts = await getCollection('posts', ({data}) => !!data.pubDate);

// Import all images from posts
const imageImports = import.meta.glob('/src/content/posts/**/{*.png,*.jpg,*.jpeg,*.webp}', {eager: true});

// Add images to posts
posts.forEach((post) => {
    // Build folder path for each post
    const folderPath = `/src/content/posts/${post.slug}/`;
    // Filter images belonging to the current post
    post.data.images = Object.entries(imageImports)
        .filter(([path]) => path.startsWith(folderPath))
        .map(([_, image]) => image.default); // Extract the default export of the imported image
});

// Sort posts by date, newest first
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<div class="posts">
    <h1>Posts</h1>
    <div class="posts-list">
        {posts.map(({slug, data}) => (
                <article class="posts-card">
                    <div class="post-images">
                        {data.images.map((img) => (
                                <img src={img.src} alt={data.title}/>
                        ))}
                    </div>
                    <h2><a href={`/posts/${slug}/`}>{data.title}</a></h2>
                    <p>{data.description}</p>
                    <time datetime={data.pubDate}>{data.pubDate}</time>
                </article>
        ))}
    </div>
</div>


<style>
    .posts {
        padding: 20px;
        display: flex;
        flex-direction: column; /* Располагаем элементы по вертикали */
        align-items: center; /* Центрируем заголовок */
    }

    .posts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        justify-content: center; /* Центрируем карточки в пределах контейнера */
    }

    .posts-card {
        width: 300px;
        border: 1px solid #4CAF50;
        border-radius: 8px;
        padding: 15px;
        background-color: #1A1A1A;
        color: #E0E0E0;
    }

    .posts-card h2 {
        font-size: 1.5rem;
    }

    .posts-card p {
        font-size: 1rem;
    }

    .posts-card time {
        display: block;
        margin-top: 10px;
        font-size: 0.9rem;
        color: #81C784;
    }

    .post-images {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .post-images img {
        max-width: 100%;
        width: auto !important;
        height: auto;
        margin: 10px 0;
        border-radius: 5px;
    }

</style>